body {
  overflow-x: hidden;
  background-color: steelblue;
}

.extra-margin {
  margin-top: 100px;
}

.card {
  padding: 15px;
}
.card-img {
  margin: 25px auto;
}

.card-title {
  font-weight: bold;
  font-size: 125%;
}

.card-subtitle {
  font-style: italic;
}

.card-text {
  padding: 15px inherit;
}

button {
  width: 75%;
  display: block;
  margin: 15px;
}

.descriptive-text {
  text-align: center;
  padding: 10%;
}

figure {
  margin: 25px auto;
}

figure img {
  display: block;
  margin: 15px auto;
}

figure figcaption {
  text-align: center;
}

footer {
  margin-top: 100px;
  background-color: black;
}

.footer-text {
  color: rgba(255, 255, 255, 0.8);
  padding:25px;
}
